Flask
Flask-Cors
google-cloud-firestore
PyStemmer
google-cloud-secret-manager
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
redis
flask_session
lmdb
cloud-sql-python-connector
pg8000
redis==4.5.5
